@charset "utf-8";

* {
	font-style: normal; 
	margin: 0px; 
	padding: 0px; 
}

body {
	font-family: sans-serif;
	font-size: 80%;
	line-height: 1.5;
	color: #333333;
	background-color: #FFFFFF;
}

hr {
	display: none;
}

a img {
	border-style: none;
}

h2 {
	font-size: 110%;
	padding-bottom: 3px;
	padding-left: 7px;
	border-bottom: 2px solid #2C1C0F;
	border-left: 8px solid #2C1C0F;
	width: 490px;
}

h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
	font-size: 100%;
}

h4 {
	font-size: 85%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 25px;
}

#wrapper {
	width: 930px
}

#header {
	height: 156px;
}

#sidebar {
	float: left;
	margin-bottom: 20px;
	width: 167px;
}

#sidebar img.menu {
	margin-bottom: 1px;
}

#sidebar img.menuend {

}

#main {
	background-image: url(images/bg3.png);
	background-repeat: no-repeat;
	background-position: 100% 100%; 
	padding-top: 4px;
	float: right;
	width: 700px;
	margin-bottom: 20px;
	position: relative;
	height: 520px;
}

#main p {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.7;
	text-indent: 1em;
	width: 470px;
}

#main table {
	margin-left: 20px;
}

#main table th {
	text-align: left;
	padding-right: 15px
}

#main table td {
	padding-right: 10px;
}

#concert table {
	margin: 0px;
	border-collapse: collapse;
}

#concert table td {
	margin: 0px;
}

#concert #list tr {
	background-color: #FFFFFF;
}

#concert #list tr.odd {
	background-color: #EFEFEF;
}

#main #topImg {
	position: absolute;
	left: 37px;
}

#main #news {
	position: absolute;
	top: 280px;
}

#main #news ul li {
	margin-left: 15px;
	margin-top: 18px;
	list-style: none;
}

#main dl dt {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

#main dl dd {
	margin-left: 45px;	
}

#main form table th {
	padding-left: 0px;
}

#formdiv {
	background-image: url(images/bg3.png);
	background-repeat: no-repeat;
	background-position: 100% 100%; 
	padding-top: 4px;
	text-align: center;

	margin-bottom: 20px;

}

#formdiv p {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.7;
	text-indent: 1em;
	width: 470px;
}

#main ol {
	margin-left: 20px;
	line-height:140%;
}

#main ol li {
	list-style:decimal outside;
	margin:0px 0px 0px 36px;
}

#footer {
	font-size: 80%;
	height: 90px;
	clear: both;
	padding-left: 30px;
	margin-bottom: 20px;
}

#footer p {
	text-align: right;
}

address {
	clear: both;
	float: right;
}

#footer ul li {
	display: inline;
	margin: 10px;
	list-style: none;
	float: right;
}

